<!DOCTYPE html>
html(lang='es')
  head
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/stylenavbar.css">
  body 
    <div class="navbar">
        <a href="/" class="active">Inicio</a>
        <a href="curriculum">Registrar Curriculum</a>        
        <a href="listacurriculum">Lista Curriculum</a>   
    </div>

